.header__title {
    line-height: 96px;
    font-size: 102px;
    max-width: 730px;
    margin-left: 64px;
    position: relative;
    z-index: 5;
    font-weight: bold;
    align-self: center;
    color: #000000;
    margin-block-start: 0;
    margin-block-end: 0;


}
